version: "3.8"

services:
  mysql:
    # image: mysql:8.0
    image: mysql:5.6
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: unless-stopped

  metabase:
    image: metabase/metabase-enterprise:latest
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: mysql
      MB_DB_CONNECTION_URI: >-
        jdbc:mysql://mysql:3306/${MYSQL_DATABASE}?user=${MYSQL_USER}&password=${MYSQL_PASSWORD}
      MB_ENCRYPTION_SECRET_KEY: "${MB_ENCRYPTION_SECRET_KEY}"
      MB_LICENSE_KEY: "${MB_LICENSE_KEY}"
    volumes:
      - metabase-plugins:/plugins
    depends_on:
      - mysql
    restart: unless-stopped

volumes:
  mysql-data:
  metabase-plugins:
